<%- include('../partials/header.ejs') %>
<div class="container">
    <% for(let i=0; i < data.length;i++) {%>
        
        <hr />

        <h3><%= data[i].title %></h3>
        <p><%= data[i].content %></p>
        <p><%= data[i].Nama %></p>
        <button><a href="/hapus-blog/<%= data[i].id %>">hapus</a></button>
    <%}%>
</div>
<%- include('../partials/footer.ejs') %>